/* Custom CSS */


hr.primary {border-color: #f05f40;border-width: 3px;max-width: 50px;}
hr.secondary {border:solid 1px; max-width: 250px;text-align: center;}


/* NAVIGATION */

ul.list-inline a {font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;letter-spacing: 1px;color: #337AB7;}
ul.list-inline.home a {font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;text-transform: uppercase;letter-spacing: 1px;color: #fff;}

/* FRONT PAGE */

.intro {margin: 38px 0 0;}
.intro h1 {font-family: 'Amatic SC', cursive;font-size: 92px;line-height: 40px;text-transform: none;text-align:center;}
.intro h2 {color:#1D3C58;font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center;font-size:20px;margin: 40px;text-transform: uppercase;font-weight: 400;letter-spacing: 1px;}
.intro ul.list-inline {text-align:center;}
.intro ul.list-inline li a {font-size:14px;font-weight: 300;}
.intro-text {width: 75%;margin: 0 auto;}
header img {
    display: block;
    margin: 0 auto 20px;
    height: auto;
    width: 100%;
    opacity: .79;
}

/* SECTIONS */

section {padding-top:70px; padding-bottom:50px; min-height:calc(100% - 1px);}
section.about {
        background: url(../img/content/about.png) no-repeat center center scroll;
        background-color: #6D8DAD;
        background-repeat: none;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        display: block;
        width: 100%;
        height:800px;
}
section.services {}
section#portfolio {background:#ccc;}
section#portfolio .port-item {background: #333;
    height: 200px;}

/* BUTTONS */

.btn-success {color: #fff;background-color: #f05f40;border-color: #f05f40;}
.btn-success:hover {color: #fff;background-color: #C74A00;border-color: #C74A00;}

/* BLOCKQUOTE */

blockquote {
  font-family: 'Droid Serif', serif;
  font-style:italic;
  /*border-left: 6px solid #f05f40;*/
    border:none;
    color: #fff;    
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #f05f40;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* IMAGES */

.img-small {width:27%;}
.img-circle {border-radius: 50%;margin: 20px 0 43px;}

/* MODAL */

.modal {color:#1D3C58;}


/* FOOTER */
/*footer {margin: 50px 0;}*/



/*---------------------------------------------------------------------------------------*/
/* PORTFOLIO & CASE STUDIES */
/*---------------------------------------------------------------------------------------*/

/* FRONT BLOCKS */

.port-block {background:#2c3e50;width:350px; height:200px;padding-top: 17px;}
h3.portfolio-block-title {font-family: 'Droid Serif', serif;color:#fff;font-size:25px;padding-top: 45px;text-align:center;text-transform:none;}
#portfolio .port-block p {color:#758EA7;font-size:16px;font-style:italic}
.port-block i {color:#fff;font-size: 63px;padding-top:17px}
a.portfolio-link {text-decoration: none;}

/* HEADINGS */
.portfolio h1, 
.portfolio h2, 
.portfolio h3, 
.portfolio h4, 
.portfolio h5, 
.portfolio h6 {
    text-transform: uppercase;
    font-family: 'bebas_neuebold';
    color: #2c3e50;
}

.portfolio h1 {font-size: 72px;text-align: center;color: #fff;margin: 93px 0 40px;font-weight: normal;line-height: 5.625rem;}
.portfolio h3 {font-size: 49px;font-weight: 300;margin-bottom: 20px;line-height: 43px;}
.portfolio h4{font-size:33px;}

.portfolio p.intro {color:#fff;font-size: 21px;line-height: 2.8125rem;text-align:center}
.portfolio p.macro {font-size:21px;}
.portfolio p.micro {font-size:18px;}

.portfolio blockquote,
.portfolio blockquote:before{text-align: center;border:none;}
.portfolio blockquote {color:#7C96B3;}

/* SECTIONS */

section.gray-bg {background:#eee;}
section.white-bg {background:#fff;}
section.blue-bg {background:#233140;}
section.cover-1 {background-image:url("../img/portfolio/le-dash/psd/my-role.png");width: 100%;
    height: 850px}

/* CONTENT */

.content-mid {margin-top:90px;}
.content-bottom {margin-top:180px;}


/* NAVBAR */
.navbar-inverse {background-color:#233140}
.navbar-inverse .navbar-brand {color: #fff;font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:100}
.navbar.navbar-inverse.navbar-fixed-top {padding: 7px 0;}

@media (min-width: 768px)
.navbar-fixed-top {padding: 7px 0;-webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;}


/* CONTENT */

.portfolio.page-header {margin: 132px 0 20px;}
h1.portfolio.page-header  {    font-family: 'Oswald', sans-serif;padding: 4px 0;font-size: 39px;font-weight: 600;}





/*---------------------------------------------------------------------------------------*/
/* CUSTOM FONTS */
/*---------------------------------------------------------------------------------------*/

/* BEBAS NEUE */

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebasneue_thin-webfont.eot');
    src: url('../fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_thin-webfont.woff') format('woff'),
         url('../fonts/bebasneue_thin-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}