/* Custom CSS */



hr.primary {border-color: #f05f40;border-width: 3px;max-width: 50px;}
hr.secondary {border:solid 1px; max-width: 250px;text-align: center;}

/* HEADER */

.header-image,
header {
        background: url(../img/content/home.png) no-repeat center center scroll /*fixed*/;
        background-color: #607b96;
        background-repeat: none;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        display: block;
        width: 100%;
        height:800px;
}

/* NAVIGATION */

ul.list-inline a {letter-spacing: 1px;color: #337AB7;}
ul.list-inline.home a {text-transform: uppercase;letter-spacing: 1px;color: #fff;}

/* FRONT PAGE */


.intro-logo {width: 65%;margin: 0 auto;}
header img {
    display: block;
    margin: 0 auto 20px;
    height: auto;
    width: 100%;
    opacity: .79;
}
.intro-text {font-size: 29px;margin: 0 auto;text-align: center;color: #fff;font-weight: 700;}
.intro-text-sm {font-size:20px;margin:0 auto;text-align:center;color:#fff;font-weight: 700;}
.front-social {margin:0 auto;text-align:center;}

/* SECTIONS */

section {padding-top:70px; padding-bottom:50px; min-height:calc(100% - 1px);}
section#about {
        background: url(../img/content/about.png) no-repeat center center scroll;
        background-color: #6D8DAD;
        background-repeat: none;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        display: block;
        width: 100%;
        height:800px;
}
section#about .p-bg {background-color:#2c3e50;padding:20px;border-radius:6px;opacity:.05;}
section#about p {color:#fff;}
section#about a,
section#about a:hover,
section#about a:focus,
section#about a:active,
section#about a.active {
    outline: 0;
    color: #2c3e50;
}
/* >>Services<< */
section.services {}

/* >>Portfolio<< */
section#portfolio {background:#ececef;}
section#portfolio .port-item {background: #333;height: 200px;}
section#portfolio .heading {padding-bottom:40px;}

/* >>Testimonials<< */
section#testimonials {background:#444d56;}
section#testimonials h2 {color:#fff;}
section#testimonials p,
section#testimonials quote {color:#fff;}

/* >>Contact<< */
section#contact .btn.contact {background-color: #ccc;padding: 15px 32px;color: #fff;}



/* >>Contact<< */



/* BUTTONS */

.btn-success {color: #fff;background-color: #f05f40;border-color: #f05f40;}
.btn-success:hover {color: #fff;background-color: #C74A00;border-color: #C74A00;}

/* BLOCKQUOTE */

blockquote {
  font-family: 'Droid Serif', serif;
  font-style:italic;
  /*border-left: 6px solid #f05f40;*/
    border:none;
    color: #fff;    
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #f05f40;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* IMAGES */

.img-small {width:27%;}
.img-circle {border-radius: 50%;margin: 20px 0 43px;}

/* MODAL */

.modal {color:#1D3C58;}


/* FOOTER */
/*footer {margin: 50px 0;}*/



/*---------------------------------------------------------------------------------------*/
/* PORTFOLIO & CASE STUDIES */
/*---------------------------------------------------------------------------------------*/

/* FRONT BLOCKS */

.port-block {background:#2c3e50;width:350px; height:200px;padding-top: 17px;}
h3.portfolio-block-title {font-family: 'Droid Serif', serif;color:#fff;font-size:25px;padding-top: 45px;text-align:center;text-transform:none;}
#portfolio .port-block p {color:#758EA7;font-size:16px;font-style:italic}
.port-block i {color:#fff;font-size: 63px;padding-top:17px}
a.portfolio-link {text-decoration: none;}

/* HEADINGS */
.portfolio h1, 
.portfolio h2, 
.portfolio h3, 
.portfolio h4, 
.portfolio h5, 
.portfolio h6 {
    text-transform: uppercase;
    font-family: 'bebas_neuebold';
    color: #2c3e50;
}

.portfolio h1 {font-size: 72px;text-align: center;color: #fff;margin: 93px 0 40px;font-weight: normal;line-height: 5.625rem;}
.portfolio h3 {font-size: 49px;font-weight: 300;margin-bottom: 20px;line-height: 43px;}
.portfolio h4{font-size:33px;}

.portfolio p.intro {color:#fff;font-size: 21px;line-height: 2.8125rem;text-align:center}
.portfolio p.macro {font-size:21px;}
.portfolio p.micro {font-size:18px;}

.portfolio blockquote,
.portfolio blockquote:before{text-align: center;border:none;}
.portfolio blockquote {color:#7C96B3;}

/* SECTIONS */

section.gray-bg {background:#eee;}
section.white-bg {background:#fff;}
section.blue-bg {background:#233140;}
section.cover-1 {background-image:url("../img/portfolio/le-dash/psd/my-role.png");width: 100%;
    height: 850px}

/* CONTENT */

.content-mid {margin-top:90px;}
.content-bottom {margin-top:180px;}


/* NAVBAR */
.navbar-inverse {background-color:#233140}
.navbar-inverse .navbar-brand {color: #fff;font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:100}
.navbar.navbar-inverse.navbar-fixed-top {padding: 7px 0;}

@media (min-width: 768px)
.navbar-fixed-top {padding: 7px 0;-webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;}


/* CONTENT */

.portfolio.page-header {margin: 132px 0 20px;}
h1.portfolio.page-header  {    font-family: 'Oswald', sans-serif;padding: 4px 0;font-size: 39px;font-weight: 600;}

/* BLOCKQUOTE */

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote.left {border-left: 10px solid #ccc;}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}




/*---------------------------------------------------------------------------------------*/
/* FONTS */
/*---------------------------------------------------------------------------------------*/

body {font-family: 'Droid Serif', serif;}
h2,h3,.intro-text,.intro-text-sm, .btn {font-family: 'Quicksand', sans-serif;}

