/*
 *
 * Layout Styles
 *
 */


body {
   /* margin-top: 50px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

body {overflow-x: hidden;}
p {font-size: 17px;font-family: 'Droid Serif', serif;line-height: 1.7;letter-spacing: 1px;font-weight: 100;color:#7a8692; word-spacing: 2px;}
p.small {font-size: 16px;}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color:#f05f40;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c3e50;
}

.img-centered {
    margin: 0 auto;
}


header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}


@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}


.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.section-divider {
    margin: 80px 0;
}

.section {
    overflow: hidden;
    padding: 100px 0;
}

section h2 {
    margin: 3px 0 41px;
    font-size: 41px;
}
section h3 {
    margin: 3px 0 41px;
    font-size: 20px;
}

.section-heading {
    font-size: 50px;
}

.section-image.pull-left {
    margin-right: 40px;
}

.section-image.pull-right {
    margin-left: 40px;
}



@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

footer {
    /*margin: 50px 0;*/
}

/*  Navbar   */

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 0;
        background-color: #2c3e50;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default {background:none;}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}


@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .section-divider {
        margin: 50px 0;
    }

    .section-image.pull-left {
        margin-right: 20px;
    }

    .section-image.pull-right {
        margin-left: 20px;
    }

    .section-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .section-divider {
        margin: 40px 0;
    }

    .section-image {
        max-width: 50%;
    }

    .section-image.pull-left {
        margin-right: 10px;
    }

    .section-image.pull-right {
        margin-left: 10px;
    }

    .section-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .section-divider {
        margin: 40px 0;
    }

    .section-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .section-divider {
        margin: 30px 0;
    }
    
    .header-image,header {
        height:400px;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .section-divider {
        margin: 10px 0;
    }

    .section-image {
        max-width: 100%;
    }

    .section-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .section-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}